<table>
    <tr>
        <td>Title</td>
        <td>Price</td>
        <td>Page</td>
        <td>Description</td>
        <td>Action</td>
    <tr>
    <% @books.each do |buku| %>
        <tr>
            <td><%= buku.title %></td>
            <td><%= buku.price %></td>
            <td><%= buku.page %></td>
            <td><%= buku.description %></td>
            <td><%= link_to  "Show", book_path(buku) %></td>
        <tr>
    <% end %>
</table>